@charset "UTF-8";
body{
  font-family: 'Kosugi Maru', sans-serif;
  background:#F4E9D6;
}

.wrapper{
  width: 980px;
  margin: 0 auto;
  overflow:hidden;
}

.container{
  text-align:center;
}
h1{
  color:#88C44F;
}
input[type=submit]{
  outline:none;
}
label{
  margin: 20px;
}
.qcount{
  margin-top: 20px;
}
.answer{
  display:none;
}

input[type="submit"]{
  color: #fff;
  background: #88C44F;
  width:150px;
  height:30px;
  cursor: pointer;
  box-shadow: 0px 7px 0px rgba(136,196,79,0.5);
  border-radius:7px;
  font-size:1.2rem;
}
input[type="submit"]:active{
  position: relative;
  top:7px;
  box-shadow: none;
}

.q{
  width: 160px;
  float:left;
}
.clear{
  overflow: hidden;
}